@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

html {
  /* 62.5%​​ of 16px = 10px */
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #e9eff0;
}
.Container {
  width: 390px;
  height: 844px;
  border: 3px solid black;
}
h1 {
  font-size: 24px;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-width {
  max-width: 390px;
  margin: 0 auto;
}
.navigation {
  display: flex;
  justify-content: center;
  background-color: #526eff;
  align-items: center;
  height: 56px;
}
.search-save {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  gap: 5px;
}
.search {
  width: 150px;
  height: 34px;
  border-radius: 7px;
  background: #dadada;
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.suggestion {
  width: 100px;
  height: 34px;
  border-radius: 10px;
  background: #dadada;
  display: flex;
  justify-content: center;
  align-items: center;
}
.your_fri {
  width: 100px;
  height: 34px;
  border-radius: 10px;
  background: #dadada;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-toggler,
h5 {
  color: rgba(102, 102, 102, 0.79);
}
.search-toggler > i {
  font-size: 20px;
  margin-left: 5px;
}
h5 {
  font-size: 14px;
  margin-left: 5px;
  /* font-family: Inter;
  font-style: normal; */
}

/* Friend requests and Add friend */
.friend-req {
  width: 346px;
  height: 363px;
  border-radius: 20px;
  margin-top: 10px;
  background: #d9d9d9;
}
.scroll {
  overflow-y: scroll;
  height: 330px;
}
.friend-req ::-webkit-scrollbar {
  display: none;
}
.add-fri ::-webkit-scrollbar {
  display: none;
}
.friend-req > h2 {
  color: #000;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 10px;
}

.add-fri {
  width: 346px;
  height: 283px;
  border-radius: 20px;
  margin-top: 10px;
  background: #d9d9d9;
}
.add-fri > h2 {
  color: #000;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 10px;
}
.grid1x2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
  margin-top: 20px;
}
.img-text {
  display: flex;
  align-items: center;
}
.img-user {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
h3 {
  color: #1e1e1e;
  font-family: Inter;
  font-size: 14px;
  margin-left: 10px;
}

.comfirm {
  width: 80px;
  height: 30px;
  background-color: #2723ff;
  color: white;
  border: none;
  border-radius: 10px;
  margin-right: 10px;
}
.cancel {
  width: 72px;
  height: 30px;
  color: white;
  background-color: #666666;
  border: none;
  border-radius: 10px;
  margin-right: 20px;
}
.btn-add-fri {
  width: 80px;
  height: 34px;
  background-color: #2723ff;
  color: white;
  border: none;
  border-radius: 10px;
  margin-right: 50px;
}
/* function tool */
.sect-tool {
  position: absolute;
  width: 74px;
  height: 300px;
  background-color: #605e5e;
  left: 758px;
  top: 540px;
  display: none;
}
.tool-th {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  margin-left: 15px;
}
.btn-tool > i {
  font-size: 30px;
  margin-top: 10px;
}
@media screen {
  .sect-tool.show {
    display: flex;
    margin-top: -20px;
  }
}
/* end of function tool */

/* Footer */
a {
  text-decoration: none;
  color: none;
}
.txt-icon > h2 {
  color: #605e5e;
}
.color-icon > i {
  color: #605e5e;
}
.footer-bar {
  position: sticky;
  margin-top: 20px;
}
.icon-bar-app {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;
  font-size: 30px;
}

.icon-bar-text {
  display: flex;
  background-color: rgba(114, 114, 114, 0.637);
  /* justify-content: space-between; */

  font-size: 10px;
}
.home {
  margin-left: 10px;
}
.chat {
  margin-left: 40px;
}
.friend {
  margin-left: 40px;
}
.notification {
  margin-left: 15px;
}
.menu {
  margin-left: 10px;
}
